<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= workout.date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Exercises count:</strong>
    <%= pluralize(workout.exercises_count, t('workouts.exercisescount')) %>
    
  </p>

</div>
