<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= workout.date %>
  </p>

  <p>
    <strong>Exercises count:</strong>
    <%= workout.exercises_count %>
  </p>

</div>
